*{
    margin:0px;
    
    color: #fff;
}


header{
    width:980px;
    height:130px;
    background-color: #0D7962;
    border: 1px solid black;
    margin-left:auto;
    margin-right:auto;
     margin-bottom: 5px;
}

main{
    width:980px;
    height:430px;
    /* background-color: #0D7962; */
     border: 1px solid black;
      margin-left:auto;
    margin-right:auto;
     margin-bottom: 5px;
}

aside{
width:270px;
    height:430px;
    background-color: #0D7962;
    border: 1px solid red;
    float: left;
    margin-right: 15px;
    /* margin-bottom: 5px; */
}

section{
    width:690px;
    height:430px;
    background-color: #0D7962;
    border: 1px solid red;
    float: left;
    /* margin-bottom: 5px; */
}

footer{
     width:980px;
    height:70px;
    background-color: #0D7962;
     border: 1px solid black;
      margin-left:auto;
    margin-right:auto;
     
}