header{
    width:980px;
    height:140px;
    background-color: #0D7962;
    border: 1px solid black;
    margin:auto;
}

main{
    width:980px;
    height:450px;
    background-color: #0D7962;
     border: 1px solid black;
     margin:auto;
}

footer{
     width:980px;
    height:70px;
    background-color: #0D7962;
     border: 1px solid black;
     margin:auto;
}